@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background-color: #222426;
    text-align: center;

    user-select: none;
}

/* generic element styling */

button, select {
    background-color: #00aaff;
    border: none;
    text-decoration: none;
    text-align: center;

    clip-path: polygon(
        0 10px,
        15px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 15px) 100%,
        0% 100%
    );

    transition: background-color 0.5s;
}

button:hover, select:hover {
    background-color: #00bb54;
}

span {
    font-family: "Share Tech Mono", monospace;

    color: #2266ff;
}

button > span, select > span, select {
    color: #ffffff;
}

/* screens */

.screen {
    display: none;
}

#_main {
    display: block;
}

/* _main element styling */

#header {
    font-size: 48px;
    margin-bottom: 40px;
}

#subheader {
    font-size: 24px;
}

#top, #singleplayer, #multiplayer, #bottom {
    width: 60%;
    margin-top: 30px;
}

#top {
    margin-left: auto;
    margin-right: auto;
}

#play, #version, #servers, #settings, #quit {
    height: 36px;
    position: absolute;
}

#play {
    width: 56%;
    left: 16%;
}

#version {
    width: 10%;
    right: 16%;
}

#servers {
    width: 68%;
    left: 16%;
}

#settings {
    width: 33%;
    left: 16%;
}

#quit {
    width: 33%;
    right: 16%;
}

/* _multiplayer element styling */

.back {
    height: 32px;
    width: 12%;

    position: absolute;
    left: 4%;
    bottom: 4%;
}

.server {
    height: 120px;
    width: 84%;

    background-color: #3f464f;
    border-radius: 8px;

    position: absolute;
    left: 8%;
    right: 8%;

    margin-top: 20px;
}

.server_icon {
    height: 100px;
    width: 100px;

    image-rendering: pixelated;

    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
}

.server_name {
    font-size: 40px;

    position: absolute;
    top: 10px;
    left: 120px;
}

.server_ip {
    font-size: 15px;

    position: absolute;
    top: 65px;
    left: 120px;
}

.server_version {
    font-size: 15px;

    position: absolute;
    top: 85px;
    left: 120px;
}

.server_edit {
    height: 28px;
    width: 10%;

    position: absolute;
    right: calc(10% + 25px);
    bottom: 10px;
}

.server_join {
    height: 28px;
    width: 10%;

    position: absolute;
    right: 10px;
    bottom: 10px;
}